[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fasano.franceschini.test"]
	path = fasano.franceschini.test
	url = https://github.com/nesscoder/fasano.franceschini.test
	shallow = true
	registered = true
